[Unit]
Description=Repartition Copr ephemeral disk
After=network.target
After=rc-local.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/copr-partitions.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
